@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

/* ===== HEADER ===== */
header {
  width: 100%;
  padding: 20px 50px;
  background-color: #1a1a1a;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navegacao {
  display: flex;
  gap: 20px;
  list-style: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.navegacao a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.navegacao a:hover {
  color: #3ce6f2;
}

h1{
  padding: 10%;
}

h2{ 
  align-items: center;
  margin-left: 10%;
}